/*=====================================
== Responsive Design ==
=====================================*/
@media only screen and (max-width: 1000px) {
#outer-wrapper,.row{width:844px}
.ads-top-728{max-width:468px;max-height:60px;margin-top:30px}
.ads-top-728 .widget img,.ads-top-728 .widget iframe{max-width:468px!important;max-height:60px!important}
.sidebar-left,.back-to-top,.resp_del4,.resp_del5{display:none}
.index #main-wrapper,.archive #main-wrapper{float:left;margin-left:0}
.item #main-wrapper,.static_page #main-wrapper{width:480px}
.related li{width:31%;margin-right:15px}
.footer-widget{width:30%;margin-left:21px}
}

@media only screen and (max-width: 870px) {
#outer-wrapper,.row{width:744px}
#menu{overflow:hidden;float:left}
#nav{display:none!important}
#selectnav1{display:block;width:200px}
.selectnav{width:auto;background-color:rgba(255,255,255,0.1);color:#FFF;position:relative;border:0;padding:6px 10px!important;margin:7px 0 0 7px}
.index #main-wrapper,.archive #main-wrapper{float:left;margin-left:0;width:430px}
#ads-home-468 .widget-content{max-width:100%;max-height:60px}
#ads-home-468 .widget-content img,#ads-home-468 .widget-content iframe{max-width:100%;height:auto}
.index #blog-pager,.archive #blog-pager{width:100%;box-sizing:border-box}
.item #main-wrapper,.static_page #main-wrapper{width:430px}
.related li{margin-right:13px}
.sidebar-right{width:260px}
.footer-widget{width:30.1%;margin-left:18px}
}

@media only screen and (max-width: 767px) {
#outer-wrapper,.row{width:516px}
.ads-top-728{display:none}
.index #main-wrapper,.archive #main-wrapper{width:480px}
.item #main-wrapper,.static_page #main-wrapper{width:480px}
.related li{width:31%;margin-right:15px}
.sidebar-right{width:100%;display:block;float:left;margin:18px 0 0}
.footer-wrap{padding:0 18px}
.footer-widget{width:100%;margin-left:0}
}

@media only screen and (max-width: 580px) {
#outer-wrapper,.row{width:380px}
#selectnav1{width:278px}
.header-search a.search form input{width:261px}
#content-wrapper{padding:10px}
.index #main-wrapper,.archive #main-wrapper{width:360px}
.slider.recent-block .recent-thumb{height:220px}
.block-image{width:80px;height:60px}
.block-image .thumb,.block-image a{height:60px}
.index .post h2 a,.archive .post h2 a{line-height:1.2em}
.date-header,.breadcrumbs,.resp_del2,.resp_del3{display:none}
.item #main-wrapper,.static_page #main-wrapper{width:360px;padding:0 10px;box-sizing:border-box}
.item .post-title,.static_page .post-title{font-size:23px}
.ads-post .widget{max-width:100%;max-height:60px;margin:0 auto 14px!important}
.ads-post .widget img,.ads-post .widget iframe{max-width:100%;height:auto}
.related li{width:46.7%;margin-right:18px;margin-bottom:10px}
.related li:nth-of-type(3),.related li:nth-of-type(6),.related li:nth-of-type(9){margin-right:18px}
.related li:nth-of-type(2),.related li:nth-of-type(4),.related li:nth-of-type(6){margin-right:0}
#footer-container-left{width:100%;text-align:center}
#footer-container-left p{padding-left:0}
.social-footer{margin-right:0;width:100%;text-align:center}
.social-footer ul li{display:inline-block;float:none;margin:10px 10px 0}
}

@media only screen and (max-width: 400px) {
#outer-wrapper,.row{width:300px}
#outer-wrapper{margin:15px auto}
#selectnav1{width:198px}
.header-search a.search form input{width:181px}
.index #main-wrapper,.archive #main-wrapper{width:280px}
.slider.recent-block .recent-thumb{height:180px}
.slider.carousel .recent-content{bottom:15px}
.slider.carousel .recent-content .recent-title a{font-size:18px;margin-bottom:5px;line-height:1.33em}
.index .post h2 a,.archive .post h2 a{font-size:14px;line-height:1.3em}
.item #main-wrapper,.static_page #main-wrapper{width:280px;padding:0}
.resp_del,.share-art .lin-art,.cmm-tabs-header h3{display:none}
.related li{width:100%;min-height:inherit;margin-right:0!important;margin-bottom:18px}
.related-thumb{width:80px;height:60px;float:left}
.related li .related-img{height:60px}
.related-title a{font-size:14px;line-height:1.3em;padding:0 5px 5px 10px;font-weight:700;overflow:hidden;display:block}
.cmm-tabs.simpleTab .wrap-tab{float:none}
.cmm-tabs-header .wrap-tab li{float:none;width:33.3%;display:inline-block}
.cmm-tabs-header .wrap-tab a{width:100%;text-align:center;padding:0}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{max-height:284px!important}
#footer-container{padding:17px 10px 15px}
}

@media only screen and (max-width: 308px) {
#outer-wrapper,.row{width:220px}
#selectnav1{width:161px}
.header-search,.carousel .recent-content .recent-date,.carousel .recent-content .recent-author,#ads-home-468,.sidebar-right,.footer-wrap,.share-art .pin-art,.ads-post{display:none}
.index #main-wrapper,.archive #main-wrapper{width:200px}
.slider.recent-block .recent-thumb{height:140px}
.slider.carousel .recent-content{bottom:10px;left:15px}
.slider.carousel .recent-content .recent-title a{font-size:14px}
.block-image{width:50px;height:40px;margin-right:10px}
.block-image .thumb,.block-image a{height:40px}
.index .post h2,.archive .post h2{margin-right:5px}
.index .post h2 a,.archive .post h2 a{font-size:11px}
.item #main-wrapper,.static_page #main-wrapper{width:200px}
.item .post-title,.static_page .post-title{font-size:18px}
.share-art a{margin-left:2px}
.related-thumb{width:50px;height:40px}
.related li .related-img{height:40px}
.related-title a{font-size:11px;line-height:1.3em}
.post-nav li{width:100%;display:block}
.post-nav .next{border-bottom:2px solid #EEE}
.post-nav .previous{border-right:0}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{max-height:300px!important}
}
