@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #bdc3c7 none repeat scroll top left;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}

.separator {
  overflow: hidden;
  max-height: 240px;
  margin: 0 0 20px 0;
}

.separator img {
  background: #eee;
  max-width: 100%;
  vertical-align: middle;
  background-position: middle;
  border: 0;
  height: auto;
  width: 100%;
}

.next-wrap img,
.next-wrap video,
.next-wrap object {
  max-width: 100%
}

.next-wrap {
  position: relative;
  max-width: 728px;
  margin: 8% auto;
  padding: 20px 20px 80px 20px;
  background: #fff;
  color: #666;
  font-size: 1em;
  line-height: normal;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.next-wrap h1,
.next-wrap h2 {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  color: red;
}

.next-wrap h2 {
  margin-top: 30px;
}

.instruction {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slidecontentWrap {
  width: 1000%;
}

.slidecontent {
  float: left;
  width: 10%;
  font-size: 16px;
  line-height: 161%;
  overflow: hidden;
}

.movepg {
  display: none;
  position: absolute;
  bottom: 20px;
  background: #e74c3c;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 80%;
  outline: none;
  border-radius: 3px;
  transition: background .6s;
}

.movepg:hover {
  background: #c0392b;
}

.movepg.prever {
  left: 20px;
}

.movepg.nexter {
  right: 20px;
}